{% extends 'base.html' %}

{% block title%} About / Adib Santos {% endblock %}

{% block body %}

<h3 class="bout-me">Adib Santos is a photographer based in Berlin. His work is focused on portratis and street photography </h3>

<p>
    Born and raised in Ecuador, with a multicultural background (half persian, half philipino). Adib was initially intersted in photography because of his father - Ernesto Santos...
</p>

<img src="/static/images/portrait/yo.JPG" class="selfie">
</div>

{% endblock %}