{% extends 'base.html' %}

{% block title%} About / Adib Santos {% endblock %}

{% block body %}


<div class="about-container">

    <img src="/static/images/portrait/yo.JPG" class="selfie">

    <div class="sub-about-text">

        <h3 class="bout-me">I am an Ecuadorian photographer based in Berlin. My work focuses on portrait and street photography </h3>
        <p class="me-description">Born and raised in Ecuador, with a multicultural background (half persian, half philipino). Adib was initially intersted in photography because of his father - Ernesto Santos...</p>
    </div>


</div>


{% endblock %}