{% extends 'base.html' %}

{% block title %} Portrait / Adib Santos {% endblock %}

{% block body %}

<div class="ind-container">
    <img  src="{{ fotos.picture_url }}">
    <div class="ind-info-container">
        <h1 class="ind-lugar"> {{ fotos.city }}, {{ fotos.country }}</h1>
        <p class="ind-precio" >Price: $ {{ fotos.price }}</p>

        <div class="form-container">
            <form method="POST">
                <h3>Order print and license image</h3>
                <div class="fstreet">
                    <label for="fstreet">Street:</label>
                    <input type="text" id="fstreet" name="fstreet" placeholder="Weserstrasse 14" required> 
                </div> 
                <br>
                <div class="fcity">
                    <label for="fcity">City:</label>
                    <input type="text" id="fcity" name="fcity" placeholder="Berlin" required>
                </div>
                <br>
                <div class="fzip">
                    <label for="fzip">Zip:</label>
                    <input type="number" id="fzip" name="fzip" placeholder="12047" required>
                </div>
                <br>
                <div class="fcountry">
                    <label for="fcountry">Country:</label>
                    <input type="text" id="fcountry" name="fcountry" placeholder="Germany" >
                </div>
                <br>
                <div class="ffoto_id">
                    <input type="hidden" id="ffoto_id" name="ffoto_id" value="{{ fotos.id }}">
                </div>
                <br>
                <div class="fuser">
                    <input type="hidden" id="fuser" name="fuser" value=" {{ current_user.id }}">
                </div>
                <input type="submit" value="Buy">

            </form>
        </div>
    </div>

</div>

    
{% endblock %}


