{% extends 'base.html' %}

{% block title %} Adib Santos / Checkout {% endblock %}

{% block body %}

<div class="form-2-container">
    <form method="POST">
        <h2>Your Order:</h2>
        <ul>
            {% for foto in fotos %}
            <li>
                <label for="foto_{{ foto.id }}">{{ foto.name }}</label>
                <input type="number" name="{{ foto.slug }}" id="foto_{{ foto.id }}" min="0" value="0">
            </li>
            {% endfor %}
        </ul>
    </form>
</div>

<div class="form-container">
    <form  method="POST">
        <h2>Your Address</h2>
        <div class="fstreet">
            <label for="fstreet">Street:</label>
            <input type="text" id="fstreet" name="fstreet" placeholder="Weserstrasse 14"> 
        </div> 
        <br>
        <div class="fcity">
            <label for="fcity">City:</label>
            <input type="text" id="fcity" name="fcity" placeholder="Berlin">
        </div>
        <br>
        <div class="fzip">
            <label for="fzip">Zip:</label>
            <input type="text" id="fzip" name="fzip" placeholder="12047">
        </div>
        <br>
        <div class="fcountry">
            <label for="fcountry">Country:</label>
            <input type="text" id="fcountry" name="fcountry" placeholder="Germany">
        </div>
        <br>
        <input type="submit" value="Purchase print">
    </form>
</div>


{% endblock %}




