{% extends 'base.html' %}

{% block title %} Adib Santos / Checkout {% endblock %}

{% block body %}

<div class="form-2-container">
    <form method="POST">
        <h2>Your Order:</h2>
        <ul>
            {% for foto in fotos %}
            <li>
                <label for="foto_{{ foto.id }}">{{ foto.name }}</label>
                <input type="number" name="{{ foto.slug }}" id="foto_{{ foto.id }}" min="0" value="0">
            </li>
            {% endfor %}
        </ul>
    </form>
</div>




{% endblock %}




