{% extends 'base.html %}

{% block title %} Adib Santos / Checkout {% endblock %}

{% block body %}

<form action="">
    <div class="fstreet">
        <label for="fstreet">Street:</label>
        <input type="text" id="fstreet" name="fstreet">
    </div>

    <div class="fcity">
        <label for="fcity">Street:</label>
        <input type="text" id="fcity" name="fcity">
    </div>

    <div class="fzip">
        <label for="fzip">Street:</label>
        <input type="text" id="fzip" name="fzip">
    </div>

    <div class="fcountry">
        <label for="fcountry">Street:</label>
        <input type="text" id="fcountry" name="fcountry">
    </div>
</form>


{% endblock %}