{% extends 'base.html' %}

{% block title %} Portrait / Adib Santos {% endblock %}

{% block body %}

<div class="portrait-main-container">
    <h1 class="title-portrait">Portrait photography</h1>
    <img src="static/images/portrait/isa.JPG" alt="" class="portrait-main">
</div>

<ul class="ind-parent">
    {% for foto in fotos %}
    <li class="ind">
        {% if foto.genre == 'portrait' %}
        <a class="ind-try" href="/portrait/{{ foto.slug }}"> {{ foto.slug }}</a>
        {% endif %}
    </li>
    {% endfor%}
</ul>


{% endblock %}


