{% extends 'base.html' %}

{% block title %} Portrait / Adib Santos {% endblock %}

{% block body %}

<div class="pmc">
    <h1 class="title-portrait">Portrait photography</h1>
    <img src="static/images/portrait/isa.JPG" alt="" class="portrait-main">
</div>

<div class="grid">
    <img src="static/images/portrait/churos-1.jpg" alt="portrait picture">
    <img src="static/images/portrait/jaz1.jpg" alt="portrait picture">
    <img src="static/images/portrait/franco-1.jpg" alt="portrait picture">
    <img src="static/images/portrait/franco-3.jpg" alt="portrait picture">
    <img src="static/images/portrait/chicky-1.jpg" alt="portrait picture">
    <img src="static/images/portrait/shapo-2.jpg" alt="portrait picture">
</div>

{% endblock %}


