{% extends 'base.html'%}

{% block title %} Street / Adib Santos {% endblock %}

{% block body %}

<div class="smc">
    <img class="street-main" src="static/images/street/reflection-2.jpg">
    <h1 class="title-street">Street photography</h1>
</div>

<div class="grid">
    <img src="static/images/street/aaron.jpg" alt="street photo">
    <img src="static/images/street/big-contrast-akko.jpg" alt="street photo">
    <img src="static/images/street/caught_telaviv.jpg" alt="street photo">
    <img src="static/images/street/covid-child.jpg" alt="street photo">
    <img src="static/images/street/fern-bg.jpg" alt="street photo">
    <img src="static/images/street/flamingo.jpg" alt="street photo">

</div>

{% endblock %}