* {
    background-color: #F2F0EB;
    font-family: 'Montserrat', serif; 
    color: #786E4C; 
}

body {
    margin: 0; 
    padding: 0; 
}

nav {
    width: 100%;
    height: 60px;  

    display: flex; 
    align-items: center; 
    justify-content: space-between;
    position: sticky; 
    top: 0; 
    left: 0; 
    margin-top: 20px;

    .nav-bar {
        list-style: none; 
        margin: 0; 
        padding: 30px; 
        border: 1px solid black; 
        margin-right: 10px; 
    }
}

.item {
    display: inline-block;
    margin-right: 1rem; 
    margin-left: 1.5rem; 
    font-weight: 600;

}

.shop {
    padding: 5px; 
    border: 1px solid #786E4C; 
    border-radius: 9px;
}

.instagram {
    width: 25px; 
    margin-top: 10px; 
}

.item:hover {
    color: black; 
    font-size: 16.3px;
}

.shop:hover {
    border: 1px solid black; 
}

a:visited {
    text-decoration: none; 
}

.logo {
    text-decoration: none;
    max-width: 200px;
    margin: 0; 
    margin-top: 30px;
    margin-left: 20px; 
    padding: 0; 
}

h1, h3{
    margin-top: 100px;
}

#title {
    margin: 0;
    padding-left: 20px;  
}

.selfie {
    height: 500px; 
    width: 300px; 
}

.text {
    margin-top: 100px;
}

/*
    HOME PAGE
*/

.carrousel {
    width: 50%; 
    
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 80px;  
    margin-bottom: 30px;  
}

.cta {
    display: flex;
    list-style: none;
    text-align: center;  
    justify-content: center;
}

.cta-links {
    text-decoration: none; 
    margin: 20px 30px; 
    padding: 15px 60px; 
    border-radius: 5px; 
    background-color: rgba(124,114,81,95%); 
    color: #F2F0EB; 
    font-family: Montserrat;
}

a {
    text-decoration: none; 
}

.page-title {
    margin-top: 10%; 
    font-size: 50px; 
}

/*
    Portrait page
*/

.pmc {
    width: 100%; 
    display: flex; 
}

.title-portrait {
    margin-top: 15%;
    margin-left: 32%; 
    max-width: 20%;  
    font-size: 35px;
}

.portrait-main {
    width: 34%; 
    margin-top: 3%;  
    margin-left: 5px; 
    box-shadow: 10px 10px 5px #ccc;
}

/*  
    STREET PAGE
*/

.smc {
    display: flex; 
    justify-content: center;
}

.street-main {
    width: 28%; 
    margin-top: 4%; 
    
    margin-left: -240px; 
}

.title-street {
    max-width: 17%; 
    margin-top: 15%;  
    margin-left: 50px; 
    padding-bottom: 0;
    font-size: 35px;
}


/*
    SHOP
*/ 


.specific {
    border: 1px solid #786E4C; 
    border-radius: 5px;
}