* {
    background-color: #F2F0EB;
    font-family: 'Montserrat', serif; 
    color: #786E4C; 
}

body {
    margin: 0; 
    padding: 0; 
}

/* NAV bar */ 

.testing {
    text-align: center;
    font-size: 100px; 
}

.change {
    color: white; 
    font-size: 50px; 
}


nav {
    width: 100%;
    height: 60px;  

    display: flex; 
    align-items: center; 
    justify-content: space-between;
    top: 0; 
    left: 0; 
    margin-top: 20px;
}

.nav-bar {
    padding: 30px; 
    margin-right: 10px; 
}

.item {
    display: inline-block;
    margin-right: 1rem; 
    margin-left: 1.5rem; 
}


.about {
    border: 0.5px solid #786E4C;
    padding: 5px 10px 5px 10px; 
}

/*
    ORDER PAGE 
*/
.order-img-container {
    margin-left: 100px; 
    margin-right: 100px; 

    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; 
    place-items: center;
}

.order-img {
    width: 300px; 
}


.item:hover {
    color: black; 
    font-size: 16.3px;
}

.about:hover {
    border: 1px solid black; 
}

a:visited {
    text-decoration: none; 
}

.logo {
    position: static; 
    text-decoration: none;
    max-width: 200px;
    margin: 0; 
    margin-top: 30px;
    margin-left: 20px; 
    padding: 0; 
}

h1, h3{
    margin-top: 100px;
}

#title {
    margin: 0;
    padding-left: 20px;  
}

.title {
    margin-top: 50px; 
    text-align: center; 
    text-transform: uppercase;
    font-size: 50px;
}

/* 
    IND  
*/ 
 
.ind-container {

    margin-top: 2%; 
    display: flex; 
    justify-content: center;
}

.ind-container img {
    width: 450px; 
}

.ind-info-container {
    padding: 50px; 
    display: static; 
}
.ind-lugar {
    position: relative; 
}

.ind-precio {

    display: relative; 
}

.form-container {
    margin-top: 50px; 
}

/*
    HOME PAGE
*/

.options {
    margin-top: 30px; 
    display: flex; 
    justify-content: center;
}

.options img {
    padding: 50px; 
}

.img-1 {
    max-width: 400px;
    padding: 0px; 
}

.img-2 {
    max-width: 450px;
    margin: 0 auto; 
}

@media only screen and (max-width: 1150px) {

    .img-1 {
        max-width: 300px; 
    }

    .img-2 {
        max-width: 350px; 
    }
}

@media only screen and (max-width: 800px) {

    .options {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .img-1 {
        max-width: 400px; 
    }

    .img-2 {
        max-width: 450px; 
    }
}


.cta {
    display: flex;
    list-style: none;
    text-align: center;  
    justify-content: center;
}

.cta-links {
    text-decoration: none; 
    margin: 20px 30px; 
    padding: 15px 60px; 
    border-radius: 5px; 
    background-color: rgba(124,114,81,95%); 
    color: #F2F0EB; 
    font-family: Montserrat;
}

a {
    text-decoration: none; 
}

.page-title {
    margin-top: 10%; 
    font-size: 50px; 
}

/*
    Portrait page
*/


/*                                 MAIN */

.portrait-main-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px; 
    position: static; 
}

.title-portrait {
    font-size: 35px;
    position: relative; 
    top: 50px; 
    left: 80px;
    width: 250px; 
}

.portrait-main {
    max-width: 500px; 
    box-shadow: 10px 10px 5px #ccc;
    position: relative; 
    left: 90px; 
}

/*  RESPONSIVE GRID */

.grid-container {
    margin-top: 80px;  
    height: 30vh;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-gap: 20px; 
}

.grid-ind img {
    max-width: 400px;
}


@media only screen and (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 792px) {
    .grid-container {
        grid-template-columns: 1fr;    
    }
}

 /*  
    Login PAGE
*/

.login-form {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}





 /*  
    Register PAGE
*/

.register-form {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.login-form div {
    text-align: center; 
}


/*  
    STREET PAGE
*/



/*                                               MAIN */

.street-main-container {
    display: flex; 
    justify-content: center;
    margin-top: 20px;
    position: static; 
    margin-left: 80px; 

}

.title-street {
    font-size: 35px;
    position: relative; 
    top: 90px; 
    right: 130px; 
    width: 230px;
}

.street-main {
    max-width: 425px; 
    margin-top: 0.5%; 
    position: relative; 
    right: 170px; 
    box-shadow: 10px 10px 5px #ccc;

}


@media only screen and (max-width: 1100px) {
    .title-portrait {
        font-size: 30px; 
        left: 0px; 
    }

    .portrait-main {
        max-width: 400px;
        left: 0px;  
    }

    .title-street {
        right: 0px;
        left: 10px;  
        font-size: 30px; 
    }

    .street-main {
        right: 0px; 
        max-width: 350px; 
    }

    
}

@media only screen and (max-width: 800px) {
    .title-portrait {
        display: none; 
    }

    .portrait-main {
        margin-top: 40px; 
        box-shadow: none; 
    }

    .logo {
        max-width: 150px;
    }

    .title-street {
        display: none; 
    }

    .street-main-container {
        box-shadow: none;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 650px) {
    .order {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .about{
        display: none; 
    }


    .item {
        font-size: 14px; 
    }

    .street-main-container {
        margin-top: 10%;
    }
}

/*                                              GRID */

.grid {
    display: grid; 
    place-items: center;
    width: 100%;
    gap: 15px; 
}

.grid > img {
    width: 90%; 
    height: 100%; 
    gap: 10px;
    object-fit: cover;

}



@media only screen and (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 2fr); 
    }
}

@media only screen and (min-width: 950px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid > img {
        width: 80%;
        gap: 40px; 
    }
}




/*
    SHOP
*/ 


.specific {
    width: 15%;
    border: 1px solid #786E4C; 
    border-radius: 5px;
    margin: 20px;
}

.specific:hover {
    background-color: #786E4C;
}